<!DOCTYPE html> 

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:400,700" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<link rel="stylesheet" href="../styles.css">
		<script src="../script.js"></script>
	</head>

	<body>
		<div id="wrapper">
			<div id="stock_search" class="header">
				<input id="stock_name" type="text" placeholder="Search for a stock...">
				<a href="stock.html">
					<img id="right_arrow" src="../img/right_arrow.svg">
				</a>
			</div>

			<div id="logo" class="header">
				<a href="../index.html">
					<img src="../img/logo.svg" />
				</a>
			</div>

			<div id="favorites" class="header">
				<img src="../img/favorites.svg" />
			</div>

			<div id="industry_logo">
				<img src="../img/technology.svg" />
			</div>

			<div id="list">
				<a href="stock.html">
					<div class="row">
						<img id="logo" src="../img/google.svg" />
						<span id="name">Google Inc. (GOOG)</span>
						<div class="rating_circle green">
							<span class="rating_value">
								0.8
							</span>
						</div>
						<div class="emoji">
							<img class="happy" src="../img/happy.svg" />
						</div>
						<div class="add_as_favorite">
							<img src="../img/add.svg" />
						</div>
					</div>
					<div class="row">
						<img id="logo" src="../img/facebook.svg" />
						<span id="name">Facebook Inc. (FB)</span>
						<div class="rating_circle green">
							<span class="rating_value">
								0.6
							</span>
						</div>
						<div class="emoji">
							<img class="happy" src="../img/happy.svg" />
						</div>
						<div class="add_as_favorite">
							<img src="../img/add.svg" />
						</div>
					</div>
					<div class="row">
						<img id="logo" src="../img/amazon.svg" />
						<span id="name">Amazon Inc. (AMZN)</span>
						<div class="rating_circle yellow">
							<span class="rating_value">
								0.2
							</span>
						</div>
						<div class="emoji">
							<img class="happy" src="../img/neutral.svg" />
						</div>
						<div class="add_as_favorite">
							<img src="../img/add.svg" />
						</div>
					</div>
					<div class="row">
						<img id="logo" src="../img/microsoft.svg" />
						<span id="name">Microsoft Inc. (MSFT)</span>
						<div class="rating_circle red">
							<span class="rating_value">
								-0.2
							</span>
						</div>
						<div class="emoji">
							<img class="happy" src="../img/sad.svg" />
						</div>
						<div class="add_as_favorite">
							<img src="../img/add.svg" />
						</div>
					</div>
					<div class="row">
						<img id="logo" src="../img/apple.svg" />
						<span id="name">Apple Inc. (AAPL)</span>
						<div class="rating_circle red">
							<span class="rating_value">
								-0.6
							</span>
						</div>
						<div class="emoji">
							<img class="happy" src="../img/sad.svg" />
						</div>
						<div class="add_as_favorite">
							<img src="../img/add.svg" />
						</div>
					</div>
				</a>
			</div>

			<div class="list_actions">
				<img id="sort" src="../img/sort.svg" />
				<img id="right_arrow" src="../img/right_arrow.svg">
			</div>
		</div>

		<!-- <div id="loading">
			<div id="logo">
				<img src="../img/logo.svg" />
			</div>
		</div>
 -->

	</body>
</html>