<!DOCTYPE html> 

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:400,700" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<link rel="stylesheet" href="../styles.css">
		<script src="../script.js"></script>
	</head>

	<body>
		<div id="wrapper">
			<div id="stock_search" class="header">
				<input id="stock_name" type="text" placeholder="Search for a stock...">
				<a href="stock.html">
					<img id="right_arrow" src="../img/right_arrow.svg">
				</a>
			</div>

			<div id="logo" class="header">
				<a href="../index.html">
					<img src="../img/logo.svg" />
				</a>
			</div>

			<div id="favorites" class="header">
				<img src="../img/favorites.svg" />
			</div>

			<div id="stock_section">
				<div id="stock_section_inner">
					<div id="stock_name_title">
						Google Inc. (GOOG)
						<div id="stock_logo">
							<img src="../img/google.svg" />
						</div>
					</div>

					<div id="stock_section_without_title">
						<div id="sentiment_circle">
							<div id="sentiment_rating">
								0.8
							</div>
						</div>

						<div id="sentiment_description">
							Very Positive
							<div id="sentiment_emoji">
								<img src="../img/happy.svg" />
							</div>
						</div>

						<div id="scale">
							<img src="../img/scale.svg" />
							<div class="dot">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="actions">
				<img id="add" src="../img/add_to_favorites.svg" />
				<img class="non-exit" id="compare" src="../img/compare_stocks.svg" />
				<img class="non-exit" id="read" src="../img/read_the_news.svg" />
			</div>
		</div>

		<div id="loading">
			<div id="logo">
				<img src="../img/logo.svg" />
			</div>
		</div>


	</body>
</html>